* {
    padding: 0;
    margin: 0;
}

#menu {
    position: fixed;
    color: white;
    background-color: rgb(190, 0, 0);
    text-align: center;
    margin-top: -100px;
    width: 100%;
}

#titulo {
    padding-top: 10px;
    padding-bottom: 15px;
    display: inline-block;
}

#titball {
    margin-bottom: 20px;
    margin-left: 5px;
    height: 50px;
    display: inline-block;
}

main {
    margin-top: 20px;
}

#tela {
    position: fixed;
    background-color: rgb(223, 223, 223);
    border: 3px solid black;
    border-radius: 20px;
    margin-left: 20px;
    height: 530px;
    width: 490px;
    display: inline-block;
}

#NameArea {
    width: 100%;
}

#MenuArea {
    display: block;
    width: 50%;
    margin: auto;
}

#NomePokemon {
    display: block;
    text-align: center;
}

#MegaButton {
    display: inline-block;
    border-radius: 50%;
}

#Megaimg {
    height: 30px;
    width: 15px;
}

.MegaActive {}

#PokeGif {
    height: 200px;
    display: block;
    margin: auto;
}

#typeText {
    text-align: center;
}

#type {
    text-align: center;
}

#tela>label {
    margin-left: 20px;
    font-size: 1.3em;
}

meter {
    width: 300px;
    height: 25px;
    border: 1px solid #ccc;
}

#HP {
    margin-left: 77px;
}

#Attack {
    margin-left: 45px;
}

#Defense {
    margin-left: 28px;
}

#Sp_Attack {
    margin-left: 17px;
}

#Sp_Defense {
    margin-left: 1px;
}

#Speed {
    margin-left: 46px;
}

#Pokemons {
    margin-top: 100px;
    margin-left: 550px;
}

#Linha01 {
    display: block;
}

.Linhas {
    display: block;
    margin-top: 10px;
}

.PokeImg {
    display: block;
    height: 200px;
    margin: auto;
}

.Poke {
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    transition: .8s;
}

.Poke:hover {
    background-color: #fff;
    border: 3px solid black;
}

.Poke>label>h2 {
    color: black;
    text-align: center;
    margin-top: -35px;
}

.Poke>input {
    position: absolute;
    visibility: hidden;
}

.Grass {
    background-color: rgb(0, 179, 60);
}

.Fire {
    background-color: rgb(255, 123, 0);
}

.Water {
    background-color: #5c80ce;
}

.grasstype {
    color: white;
    background-color: green;
    font-weight: bold;
    border-radius: 4px;
    padding: 5px;
}

.poisontype {
    color: white;
    background-color: purple;
    font-weight: bold;
    border-radius: 4px;
    padding: 5px;
}

.firetype {
    color: white;
    background-color: orangered;
    font-weight: bold;
    border-radius: 4px;
    padding: 5px;
}

.flyingtype {
    color: white;
    background-color: rgb(117, 117, 255);
    font-weight: bold;
    border-radius: 4px;
    padding: 5px;
}

.watertype {
    color: white;
    background-color: #5D90FA;
    font-weight: bold;
    border-radius: 4px;
    padding: 5px;
}

.Marcado {
    background-color: #fff;
    border: 3px solid black;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
}